* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smotthing: grayscale;
  font-family: "Montserrat", sans-serif;
}

:root {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
}
